* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --accent-color1:#264653;
    --accent-color: tan;
    --heading-font: "times new roman";
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color1);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--accent-color1);
    opacity: 70%;
    color: #fff;
}

.hero article {
    position: absolute;
    top: 50px;
    right: 0;
    width:28%;
    background-color: var(--accent-color);
    box-shadow: 0 0 5px 5px rgb(0 0 0/0.3);
    text-align: left;
}

.hero article img {
    float: right;
    width: 100px;
    margin: 2px;
    padding: 0;
    border: 1px solid rgb(0 0 0/0.3);
    box-shadow: 0 0 5px 5px rgb(0 0 0/0.5);
}

