* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color:#333;
    max-width: 840px;
    align-items: center;
}

main {
    align-items: center;
}

h1 {
    color: darkblue;
    text-align: center;
}

header p {
        border-bottom: 1px solid darkblue;
        padding: 5px;
        margin: 15px;
        text-align: center;
}

form {
    width: 600px;       
    border:1px solid #888;
    border-radius: 5px ;
    background-color: rgb(230, 230, 230) ;
    display: grid;
    align-items: center;
}

fieldset {
    display: grid;
    grid-gap: 10px;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: 1rem;
    align-items: center;
}

legend {
    font-size: 1.5rem;
    color: darkblue;
}

label, input, button, select, textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    text-align: right;
    padding-right: 10px;
}

input, select, textarea{
    padding: 5px;
    font-size: 1rem;
}

input[type="checkbox"]{
    width: 18px;
    height: auto;
    vertical-align: bottom;
}

button {
    margin: 5px 100px 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px #888;
    font-size: 0.9rem;
    color: aliceblue;
    background-color: darkblue;
}

footer {
    text-align: center;
    border-top: 1px solid darkblue;
    margin: 15px;
    padding: 5px;
}

.form-items {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 4fr 2fr;
    margin:10px;
}   

.column1 {
    grid-template-columns: 1fr 2fr;
}