* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.1);
    padding: 1rem;
    background-color:lightgray;
    color: black;
}

h1 {
    margin: 0.5rem;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
}

input, textarea, select, button {
    padding: 10px;
    width: 350px;
    
}


code {
    display: block ;
    background-color: black;
    color: #ddd;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.1);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: darkblue;
    color: aliceblue;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0/0.1);
}