* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

table {
    text-align: center;
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid rgb(0 0 0/0.5);
    letter-spacing: 1px;
}

th, td {
    width: auto;
    padding: 3px;
    border:1px solid rgb(120 120 120/0.5) ;
}

thead tr, tfoot tr {
    background-color:black;
    color: aliceblue;
    font-weight: 700;
}