* {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb (0 0 0/0.3);
    background-color: black;
}

div ul li {
  height: auto;
  width: 200px;
  margin: 10px;
  padding: 2px;
  border: 3px dashed rgb(50 20 200);
  color: antiquewhite;
}

div ul li img {
  height: ;
}


h1, h2 {
  color: aliceblue;
  padding: 5px;
  margin: 10px;
  
}

