* {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb (0 0 0/0.3);
}

h1 {
    color: darkblue;
    text-align: center;
}   

.container {
  width: 400px;
  height: 300px;
  background-color: lightgray;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
  color: white;
  padding: 10px;
}