* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ 
    --background-color: #51aff9;
    --border: 1px solid rgb(0 0 0/0.5);
}

header {
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
}

nav { 
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
    border: 2px solid rgb(0 0 0/0.4);
    background-color: darkblue;
    font-size: 1.2rem;
    text-decoration: none;
}

main {
    max-width: 840px;
}

h1 { 
    color: darkblue;
    border-bottom: solid darkblue;
    padding: 5px;
}

aside {
    width: 320px;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
} 

aside h2 {
    position: absolute;
    bottom: 340px;
    left: 145px;
    color: #fff;
}

main img {
    position: relative;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    left: 10px;
    bottom: 10px;
    float: right;
    margin: 0 0 1rem 1 rem;
}

p {
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: var(--padding);
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
}

/*Class selector */
.box {
    margin: 1rem;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border: 1px solid rgb(0 0 0/0.3);
    background-color: lightgray;
    color: #000;
}

header, .grid, footer {
    max-width: 840px;
    margin: 10px;
    
}

.grid {
    display: grid;
    align-items: center;
}

main{
    grid-column:2/3;
    margin: 1 rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row:1/2
}