:root{ 
    --background-color: darkblue;
    --padding: 10px;
    --border: 1px solid rgb(0 0 0/0.1);
}

nav { 
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding)
}

main {
max-width: 840px;
}

h1 { 
    color: darkblue;
}

aside {
    width: 320px;
    margin: 10px;
    border: var(--border);
    padding: var(--padding)
    background-color: #999 ;
    color: #222;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
} 

main img {
    position: relative;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    left: 10px;
    bottom: 10px;
}

p {
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: var(--padding);
    text-align: center;
}