* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ 
    --background-color: #51aff9;
    --border: 1px solid rgb(0 0 0/0.5);
}

nav { 
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding)
}

main {
    max-width: 840px;
}

h1 { 
    color: darkblue;
}

aside {
    width: 320px;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
} 

aside h2 {
    position: absolute;
    bottom: 340px;
    left: 145px;
    color: #fff;
}

main img {
    position: relative;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    left: 10px;
    bottom: 10px;
    float: right;
    margin: 0 0 1rem 1 rem;
}

p {
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: var(--padding);
    text-align: center;
}

/*Class selector */
.box {
    margin: 1rem;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border: 1px solid rgb(0 0 0/0.3);
    background-color: lightgray;
    color: #000;
}